input, textarea, select {
    display: block;
    width: 50%;
    margin-bottom: 15px;
}
form {
    border: 1px;
    border-style: solid;
    color: brown;
    background-color: rgb(91, 64, 133);
    margin-bottom: 20px;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}